/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

__MACOSX/
__MACOSX/*
*/__MACOSX/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

deep-learing/.ipynb_checkpoints/
*/.ipynb_checkpoints/
.ipynb_checkpoints/
./data
*.gz
*.pkl
*.zip
*.csv
*.json
*/dataset/
*/dataset/*
*/datasets/
./datasets
datasets/
dataset
*/datasets/*
*data
*/data/
*/data/*
./data/*
output/
*/output/*
*/output
*/tensorflow/image/
*/tensorflow/images/*
*/keras/images/*
*/keras/images/
.DS_Store
